
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Blog</title>
        <!-- <meta http-equiv="refresh" content="0.5"> -->
         <link rel="stylesheet" href="/styles/home.css">

    </head>
   
    <body>
       <%- include ("navbar") %>
       <div class="header">
            <section id="home">
                
                
                <h1>Welcome to My Blog</h1>
                <p></p>
            </section>
        </div>
            </section>

            <section id="blog">
              
                <h1>Blog Posts</h1>
                <section id="main">
                <div class="card-container">
                    <div class="card">

                       <% blogs.forEach((blog)=>{ %>

                        <div class="card-content right">
                            <img src="<%- blog.image %>" alt="" width="150",height="150">
                            <div class="card-content left">
                            <h1><%- blog.title %></h1>
                            <p><%- blog.subTitle %></p>
                            <p>Author : <%- blog.user.username %></p>
                            <a href="/blog/<%-blog.id %>">Read More</a>
                        </div>
                        </div>
                   <% }) %>




                    </div>
                    
                    </div>
                </section>
                    <!-- Add more cards as needed -->
                </div>
            </section>
           
        </main>
  <%-include ("footer")-%>
    </body>
    </html>
    
</body>
</html>